@font-face { font-family: "SF Pro Display"; src: url("assets/SF-Pro-Display-Regular.otf"); }

* {
    box-sizing: border-box;
}

/*Background Color*/
body {
  background-color: #292C30;
}

/* unvisited link */
a:link {
    color: #87a3ff;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #87a3ff;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: none;
}

/* selected link */
a:active {
    color: hotpink;
    text-decoration: none;
}


/* Navbar Columns */
.columnnav {
    float: left;
    width: 50%;
    padding-left: 15px;        /*chinh to nho khung add repo*/
    padding-right: 15px;
}
/* Columns */
.column {
    float: left;
    width: 33.333%;
    padding-left: 10px;
    padding-right: 10px;
}
/* Responsive layout - Dual Column on Low Res */
@media screen and (max-width: 1350px) {
    .column {
        width: 50%;
    }
}
/* Responsive layout - Single Column on Mobile */
@media screen and (max-width: 1050px) {
    .column {
        width: 100%;
    }
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Big Title in the Navbar*/
.bigtitle {
  color: white;
  font-family: "SF Pro Display";
  font-size: 40px;                                            /*size ten repo*/
  font-weight: bold;
  text-align: center;
}

/* Button */
.button {
  background: linear-gradient(to right, #55B49D , #2B7DCA);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: "SF Pro Display";
  border-radius: 10px;                                           /*button Add Repo To Cydia*/
  padding: 10px;
  color:white;
  font-size: 20px;
  -webkit-transition: padding 0.5s ease; /*For Safari*/
  transition: padding 0.25s ease;
  transition: 0.25s;
}
.button:hover {
  filter: hue-rotate(90deg);
  font-size: 23px;
  padding: 10px;
}

/*Navbar*/
.navbar {
  background: #63ce3b;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: "SF Pro Display";
  border-radius: 10px;                          /*bo tron khung repo va add repo*/
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  width: 30%;
}

/*Box*/
.box {
  background: #2F3439;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: "SF Pro Display";
  border-radius: 10px;                       /*bo tron tat ca khung pages, package,theme*/
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;                                /* thu nho phong to all khung */
  -webkit-transition: padding 0.2s ease; /*For Safari*/
  transition: padding 0.2s ease;
  transition-delay: 0.05s;
}
.box:hover {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 25px;
}

.packageicon {
  width: 85px;
  height: 85px;
  margin-top: 8px;
  float: right;
}
@media screen and (max-width: 1350px) {
  .packageicon {
    margin-top: 0px;
  }
}

p2 {
  float:left;
  color:rgba(255,255,255,0.50);
  line-height: 0;
  margin-top: -2px;
}

/*Subtitles above boxes*/
.subtitle {
  color: white;
  font-family: "SF Pro Display";
  font-size: 30px;                   /*size ten Pages,Package,Themes*/
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

@media screen and (max-width: 1050px) {
    .box {
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 3px;
      margin-bottom: 20px;
    }
    .box:hover {
      padding-top: 20px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
    }
    p2 {
      display: none;
    }
    .packageicon {
      width: 65px;
      height: 65px;
      margin-top: -1px;
    }
    .subtitle {
      padding-bottom: 10px;
    }
}

/* Responsive layout NAVBAR */
@media screen and (max-width: 1600px) {
    .navbar {
        width: 50%;             /*khung repo va add repo*/
    }
}
@media screen and (max-width: 1400px) {
    .navbar {
        width: 60%;
    }
}
@media screen and (max-width: 1200px) {
    .navbar {
        width: 70%;
    }
}
@media screen and (max-width: 1000px) {
    .navbar {
        width: 80%;
    }
}
@media screen and (max-width: 840px) {
    .navbar {
        width: 95%;
    }
}
@media screen and (max-width: 711px) {
    .navbar {
        width: 100%;
    }
    .bigtitle {
      font-size: 20px;
    }
}
@media screen and (max-width: 400px) {
    .navbar {
        padding-bottom: 45px;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .bigtitle {
      font-size: 22px;
      margin-top: 3px;
    }
    .button{
      font-size: 16px;
      padding: 8px;
    }
    .box {
      margin-bottom: 15px;
    }
    .columnnav {
        padding-left: 0px;
        padding-right: 0px;
  }
}

h1 {
  color: white;
  font-family: "SF Pro Display";
  font-size: 22px;
  font-weight: bolder;
}
h2 {
  color: white;
  font-family: "SF Pro Display";
  font-size: 22px;
  font-weight: bolder;
  display: none;
}
@media screen and (max-width: 1450px) {
  h1 {
    display: none;
  }
  h2 {
    display: inline;
  }
}